@font-face {
  font-family: gral;
  src: url(../fonts/bold.otf);
}

header {
  background: white !important;
  border-bottom-style: solid;
  border-bottom-color: #ff670f;
  border-bottom-width: 5px;
}

body {
  font-family: "gral" !important;
  background: #f9f6f1 !important;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/gif_restaurant.gif) 50% 50% no-repeat white;
  opacity: 1;
}

.loader1 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/cargando.gif) 50% 65% no-repeat;
  opacity: 1;
}

.navbar {
  padding: 0px !important;
}

.nav-item {
  padding: 3px 8px;
}

header .nav-item a i {
  color: #596a72;
}
header .nav-item a i:hover {
  color: #ff670f !important;
}

header .active {
  background: #ff670f;
  color: white !important;
}

header .active i {
  color: white !important;
}

header ul li:hover,
header ul li a > i:hover {
  cursor: pointer;
}

#menu {
  background: #f8f9fa !important;
}
#menu .nav-item {
  width: 100px;
  color: #b2afaa;
  cursor: pointer;
  border-left-style: solid;
  border-right-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
}

#menu .nav-item i {
  font-size: 20px !important;
  color: #b2afaa;
}

#menu .navbar {
  padding: 0 !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
  font-size: 15px !important;
}

#menu_mesas {
  background: #444444;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff !important;
  background: #707070 !important;
  border-color: #707070 #707070 #707070 !important;
}

.nav-link {
  font-size: 14px !important;
  color: #d8d8d8 !important;
}

.nav-tabs .nav-link:hover {
  color: #ff8101 !important;
  border-color: #707070 #707070 #707070 !important;
  background: #707070 !important;
}

#sup_top {
  background: #444;
}

.card-header {
  background: #707070 !important;
  color: white;
}

.fondo_card {
  background: #707070;
  padding: 0px !important;
}

.mesas_listas {
  width: 50%;
  cursor: pointer;
}

.card {
  border: 1px solid #707070 !important;
  border-color: #707070 !important;
  box-shadow: 0px 0px 2px #707070 !important;
  min-height: 477px;
}

#seccion_informacion {
  padding: 0px !important;
}

#columna_info_mesa {
  padding: 0px !important;
}

.encabezado_carta_info {
  background: #ff9502 !important;
  color: white;
}

#encabezado_carta_info_ocupado {
  background: #ef464d !important;
  color: white;
}

.navbar-brand {
  width: 100px !important;
}

#section_buscarproducto {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #eeeeee 0%,
    #cccccc 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #eeeeee 0%,
    #cccccc 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #eeeeee 0%,
    #cccccc 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.list.items.additions {
  min-height: 1px;
}
.list.items {
  margin: -1px -20px 0;
}
.list {
  list-style: none;
  padding: 0;
}

.list.items.additions li.addition {
  border-left-color: #ff8101 !important;
}

.list.items.additions li {
  padding-left: 13px;
  transition: background 0s, border-width 0.3s;
}

.list.items.stated li {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: rgba(60, 60, 60, 0.1);
}

.list.items li {
  padding: 5px 10px 5px 18px;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.list li {
  position: relative;
  display: block;
  padding: 5px 0;
  font-size: 1.1rem;
  line-height: 2.8rem;
}

.list.items li .item {
  display: -webkit-flex;
  display: flex;
  position: relative;
  padding: 2px 0;
}

.list.items.additions li .item .count {
  min-width: 2rem;
  padding-right: 6px;
}

.list.items li .item .item-label {
  -webkit-flex: 1;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.list.items.additions li .item .price:not(input) {
  margin-right: 8px;
}

.list.items li .item strong + span {
  margin-left: 1rem;
}

#comanda_x_mesa {
  background: #eaeaea !important;
}

.text-error {
  color: #a90329 !important;
}

#alert_success,
#alert_danger {
  display: none;
  font-weight: bold;
  padding: 8px;
  font-size: 16px;
  position: fixed;
  z-index: 900000000;
  width: 400px;
  right: 25px;
}

.total {
  color: #fff;
  background-color: #666;
  font-size: 1.3rem;
  line-height: 4rem;
  transition: 0.2s;
}

.total {
  display: -webkit-flex;
  display: flex;
  position: relative;
  padding: 0 18px;
  margin: -1px -18px 0;
  line-height: 4rem;
  white-space: nowrap;
  overflow: hidden;
}

.total > span {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.total > strong {
  font-weight: bold;
}

.total > strong {
  float: right;
  font-size: 1.6rem;
  font-weight: normal;
}

.jconfirm-box {
  padding: 0px !important;
}

.jconfirm .jconfirm-box div.jconfirm-title-c {
  background: #444;
  color: white;
  padding-top: 15px;
  padding-left: 15px;
}

.btn-warning {
  background: #ff8101 !important;
  border-color: #cd6700 !important;
  font-weight: bold !important;
  box-shadow: 0 1px 5px rgb(130 80 50 / 20%) !important;
  color: white !important;
}
.btn-light {
  color: #333 !important;
  background: transparent !important;
  border-color: rgba(90, 90, 90, 0.3) !important;
  box-shadow: 0 1px 5px rgb(0 0 0 / 5%) !important;
}

.btn-black {
  background: #444 !important;
  color: white !important;
}

.fa-asterisk {
  color: red !important;
  font-size: 7px !important;
}

.highlight {
  background: #fd7 !important;
}

#tbl_productos tr,
#tbl_categorias,
#tbl_usuarios tr,
#tbl_meseros tr,
#tbl_clientes tr,
#tbl_pedidos tr,
#tbl_faltantes tr,
.imprimir_apertura {
  cursor: pointer !important;
}

.fa-star {
  cursor: pointer;
  color: #ff5023;
}
.fa-user-times,
.status_disable {
  color: red !important;
  cursor: pointer;
}
.fa-user-check,
.status_enable {
  color: green !important;
  cursor: pointer;
}

#tbl_categorias,
#tbl_meseros,
#tbl_proveedores,
#tbl_faltantes {
  width: 100% !important;
}

#form_login {
  height: 100% !important;
}

footer {
  width: 100%;
  bottom: 0;
  background: #444;
  border-color: #fff;
  font-weight: bold;
  box-shadow: 0 1px 5px rgb(130 80 50 / 20%);
  color: #fff;
  padding: 10px 0px 10px 10px;
}

.fa-money-bill-alt {
  color: #008a00;
}

.info_money {
  font-size: 35px;
}

.tile-stats {
  border: 1px solid #e4e4e4;
  background: #fff;
}

.card-body {
  background: #f7f7f7;
}

#propina_add {
  height: 35px !important;
}

.fa-times-circle {
  color: red;
  cursor: pointer;
}

.montos_dash {
  color: green;
}

.salidas_dash {
  color: red;
}

#lista_mesas_sistema {
  padding-top: 0px !important;
}

#tabla_ventas_scroll,
#tabla_pedidos_scroll {
  overflow: scroll;
  height: 25rem;
}
